.main_navbar{
    position: sticky;
    top: 0;
    z-index: 3;
    height:fit-content;
    width: 100%;
    background-color:#fff;
    /* box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.4); */
}
.navbar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 5px; */
    /* height: 15vh; */
    position: relative;
}

.nav_item1{
    /* background-color:#fff; */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    /* gap: 5px; */
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.4);
}
.box1{
    flex: 1;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.img_log_brand{
    object-fit: contain;
    width: 120px;
    height: 90px;
}
.box2{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.nav_item2{
    background-color: #3b3e44;
    flex: 1;
    display: none;
    padding: 3rem;
    color: #fff;
}
.Dialouge_box{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    gap: 30px;
    position: relative;
}
.icons{
    position: absolute;
    top: 30px;
    right: 10px;
    display: none;
}
.Drop_down{
    position: absolute;
    transform:translateY(3px);
    cursor: pointer;
}

.drop_menu1{
    background-color:rgb(238, 238, 238);
    color: black;
    position: absolute;
    transform: translate(35px,10px);
    width: 150px;
    height: 90px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.4); 
}
.drop_menu2{
    background-color: rgb(238, 238, 238);
    color: black;
    position: absolute;
    transform: translate(10px,10px);
    width:200px;
    height: 120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.4);  
}
.drop_menu3{
    background-color: rgb(238, 238, 238);
    color: black;
    position: absolute;
    right: 10px;
    width:200px;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    z-index: 1;
    border-radius: 10px; 
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.4);  

}
.Drop_down:hover{
    color: orange;
}
.textline_none{
    text-decoration: none;
    color: black;
}
.textlinenone_navtwo{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width:1080px) {
    .navbar{
        background-color: #fff;
    }
    .box2{
        display: none;
    }
    .nav_item1{
        flex-wrap: wrap;
    }

    .nav_item2{
        display: block; 
    }
    .icons{
        display: block;
        cursor: pointer;
    }
    .drop_menu1{
        background-color:#fff;
        width: 20%;
        height: 20%;
    }
    .drop_menu2{
        background-color:#fff;
        width:50%;
        height: 45%;
    }   
    .drop_menu3{
        background-color:#fff;
        width: 60%;
        height: 40%;
        padding: 10px;
    }
}